body {
   font-family: 'Quicksand', sans-serif;
   font-size: 22px;
}

.navbar-brand {
    font-size: 26px;
}

.btn {
    font-size: 20px;
}

a {
    font-size: 20px;
}

.search-bar__button {
    font-size: 16px;
}

.all-characters, h1 {
    margin: 30px;
}

.img-fluid {
    max-width: 100%;
    max-height: 256px;
}

button {
    margin-bottom: 30px;
}

.character-info {
    padding: 20px;
    font-size: 20px;
}

.modal-body {
    background-color: #fffffa;
}

.modal-header, .modal-footer {
    background-color: #fff563;
    padding: 15px;
}

.footer-button {
    margin: 1%;
}